:root {
    --nav-width: 1380px;
    --article-width: 650px;
    --toc-width: 350px;

}

.toc summary[accesskey="c"] {
  display: none;
}


.toc {
    margin: 0 2px 5px 2px;
    background: var(--entry);
    padding-top: 15px;
}


.toc-container.wide {
    position: absolute;
    height: 100%;
    left: calc((var(--toc-width) + var(--gap)) * -.9);
    top: 0px;
    width: var(--toc-width);
}


.wide .toc {
    position: sticky;
    top: 0;
    border: unset;
    background: unset;
    border-radius: unset;
    width: 100%;
    margin: 0 2px 40px 2px;

}

/* #dee2e6 */

.toc .active {
    color: #414952;
    border-radius: 3px;
}


.toc ul {
    list-style-type: circle;
}

.toc .inner {
    margin: 0 0 0 10px;
    padding: 0px 15px 15px 20px;
    font-size: 16px;
}

.toc li ul {
    list-style-type: none;
}

.toc li {
    list-style: none;
    font-size: 0.95rem;
    /* padding-bottom: 5px; */
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toc a:hover {
    box-shadow: 0 0px 0;
   /* box-decoration-break: clone;
    -webkit-box-decoration-break: clone; */
    color: #414952
}

.toc a{
    color: #868686;
}


@media screen and (max-width: 768px) {
    .toc {
        display: none;
    }
}


@media screen and (max-width: 1024px) {
    .toc {
        margin: 0 2px 5px 2px;
        background: var(--entry);
        padding-top: 20px;
    }
}

@media screen and (min-width: 1447px) {
    .toc {
        margin: 0 2px 5px 2px;
        background: var(--entry);
        padding-top: 65px;
    }
}

